.container_home {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  background-image: url('../../img/home/homePhoto.png');
  margin-left: auto;
  margin-right: auto;
}
.backdrop {
  background-size: cover;
  background: rgba(0, 0, 0, 0.7);
  padding-top: 100px;
  padding-bottom: 50px;
}
.container_social_link {
  display: flex;
  position: absolute;
  top: 70px;
  left: 150px;
  align-items: center;
}
.social_link_instagram {
  width: 28px;
  height: 28px;
  border-radius: 5px;
  padding: 0;
}
.social_link {
  display: flex;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  padding: 0;
  align-items: center;
}
.social_link:not(:first-child) {
  margin-left: 15px;
}
.social_icon_instagram {
  display: flex;
  width: 28px;
  height: 28px;
  color: #ffffff;
  border-radius: 5px;
}
.social_icon_telegram {
  display: flex;
  width: 34px;
  height: 34px;
  color: #ffffff;
  border-radius: 50%;
}
.social_icon_viber {
  display: flex;
  width: 28px;
  height: 28px;
  color: #ffffff;
  border-radius: 50%;
}

.social_icon_instagram:hover {
  background: #ffffff;
  color: #000000;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 5px #fff, 0 0 11px #fff,
    0 0 20px #fff, 0 0 30px #fff, 0 0 55px #fff, 0 0 80px #fff;
}
.social_icon_telegram:hover,
.social_icon_viber:hover {
  background: #ffffff;
  color: #000000;
  background: #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 5px #fff, 0 0 11px #fff,
    0 0 20px #fff, 0 0 30px #fff, 0 0 55px #fff, 0 0 80px #fff;
}
.container_home_logotipe {
  padding: 10px;
}
.home_logotipe {
  display: flex;
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 48px;
  line-height: 1.3;
  justify-content: center;
  text-align: center;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.home_tittle {
  display: flex;
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 48px;
  line-height: 1.3;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  width: 821px;
}
.arrow_icon {
  display: flex;
  width: 70px;
  height: 31px;
  color: #ffffff;
  margin-top: 210px;
  margin-left: auto;
  margin-right: auto;
}
