.container {
  border-top: 1px solid #ffffff;
  display: flex;
}

.contacts_container {
  /* text-align: center; */
}
.form_container {
  display: flex;
  margin-left: auto;
  margin-top: 50px;
  /* margin-right: auto; */
}
.section {
  display: flex;
  width: 50%;
  padding: 15px;
  /* border: 1px solid #ffffff; */
}
.text {
  margin-top: 50px;
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 800;
  font-size: 44px;
  line-height: 1.3;
  text-align: center;
}
.text1 {
  margin-top: 20px;
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 800;
  font-size: 34px;
  line-height: 1.3;
}
